.graph {
    height: 20vh;
    max-height: 20vh;
}

table {
    width: 100%;
}

button {
    width: 18vw;
    height: 5vh;
    background-color: white;
    font-size: 0.9em;
}

.side {
    margin: 2.5vh 0;
}
